.banner {
    text-align: center;
    padding: 50px 20px;
    background-color: var(--Gris);
  }
  
  .banner_title {
    font-size: 2rem;
    margin-bottom: 0px;
    color: #333;
  }
  
  .banner_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .banner_list a {
    margin: 0 10px;
  }
  
  section.banner {
    min-height: calc(100vh - 800px); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  @media (max-width: 720px) {
    .banner_title {
        font-size: 1.3rem;
      }
    .banner, 
    .actuales{
      padding: 0%;
      margin: 0;
    }
    .banner_list {
      margin: 0%;
      padding: 0%;
      width: auto;
      height: auto;
    }
  }