.Carrito1 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    margin-bottom: -1rem;
    color: aliceblue;
  }
  
  /* Estilo para la lista de productos en el carrito */
  .Carrito1 ul {
    list-style: none;
    padding: 0;
  }
  
  /* Estilo para cada elemento de la lista de productos */
  .Carrito1 li {
    margin-bottom: 10px;
  }
  