.full-height {
  min-height: 100vh;
  margin-bottom: -1rem;
}

.categorias,
.banner,
.actuales,
.antiguos,
.especiales,
.deportivos{
  background-color: var(--negro);
  font-family: 'Roboto', 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.categorias_title,
.banner_title,
.antiguos_title,
.actuales_title,
.deportivos_title,
.especiales_title{
  color: var(--blanco);
  margin: 0 auto;
  padding: 2rem 0;
}



.categorias_list,
.actuales_list,
.antiguos_list,
.deportivos_list,
.especiales_list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

.banner_list a img{
  display: block;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  height: auto;
  
}

.categorias_list a,
.actuales_list a,
.antiguos_list a,
.deportivos_list a,
.especiales_list a{
  padding: 1rem;
  height: auto;
  color: white;
  text-decoration: none;
}

.categorias_list a h3{

  background-color: var(--azul-oscuro);
  border-radius: 6px;
  text-align: center;
  margin-bottom: -2px;
}

.categorias_list a img{
  width: 250px;
  border-radius: 6px;
}

.actuales_list a img,
.antiguos_list a img,
.deportivos_list a img,
.especiales_list a img{
  min-width: 300px;
  max-width: 400px;
  border-radius: 6px;
  position: static;
}







