.navegador {
  background-color: var(--azul-oscuro);
  color: #021c1e;
  padding: 8px;
  width: 100%;
  /* position: fixed; */
  top: 0;
  left: 0;
  height: 60px;
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* .logo {
  font-weight: bolder;
  font-size: 48px;
  margin: 0 20px;
  color: #99ccff;
} */

.resaltado {
  color: var(--blanco);
  font-weight: bolder;
  font-size: 32px;
  margin: 0 20px;
}

/* .navegador ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} */

.navegador ul li {
  display: inline-block;
  margin-right: 10px;
  color: #99ccff;
  font-weight: bolder;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--blanco);
  padding: 5px 10px;
  border-radius: 5px;
} 


/* a:hover {
  background-color: #555;
} */
