.Piedepagina {
  background-color: var(--azul-oscuro);
  padding: 8px;
  text-align: center;
  width: 100%;
  box-sizing: border-box; /* para incluir el padding en el ancho total */
  /* position: fixed; */
  bottom: 0;
  /* max-width: 1200px; Elimina esta línea */
  font-weight: 300;
  font-size: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Piedepagina img {
  width: auto;
  height: 1.5rem;
  margin-right: 10px;
}

.Piedepagina a {
  color: rgb(14, 13, 13);
  text-decoration: none;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Piedepagina a.terminos,
.Piedepagina a.ayuda {
  color: #99CCFF;
  font-size: 10px;
}

.Piedepagina a:hover {
  text-decoration: underline;
}

.Piedepagina p {
  margin: 5px 0; 
  color: black;
  text-align: right; 
  font-size: 12px; 
  line-height: 1.2; 
}