.contenedor-autos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.auto-contenedor {
    text-align: center;
    margin: 10px;
    width: 150px;
    background-color: var(--azul-oscuro);
    border-radius: 10px; /* Añadido para bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1); /* Añadido para un efecto de sombra */
    transition: transform 0.3s ease-in-out; /* Añadido para un efecto de transición */
}

.auto-contenedor:hover {
    transform: scale(1.05); /* Añadido para un efecto de escala al pasar el ratón */
}

.auto-contenedor img {
    max-width: 100%;
    height: auto;
    max-height: 100px;
}

.auto-contenedor p {
    color: white;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration-color: var(--azul-oscuro); /* Añadido para quitar el subrayado */
    transition: color 0.3s ease-in-out; /* Añadido para un efecto de transición en el cambio de color */
}


.auto-contenedor:hover p {
    color: var(--azul-claro); /* Cambia el color al pasar el ratón */
    text-decoration: underline; /* Puedes ajustar esto si deseas que aparezca subrayado al pasar el ratón */
}

.auto-contenedor a {
    text-decoration: none;
}
